 * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

body {
  color: #222;
  padding: 0 0 3em 0;
  font-family: 'times new roman', times, serif;
}

img {
  max-width: 100%;
  /* 
    desaturate images in modern browsers 
    http://demosthenes.info/blog/532/Convert-Images-To-Black--White-With-CSS 
  */
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

a img, img {
  border: none;
}

a, a:active, a:visited {
  text-decoration: none;
  color: #333;
}
  a:hover {
    color: #333;
    text-decoration: underline;
  }

h1 {
  margin-top: -7px;
  margin-bottom: 0;
}
  h1 a:hover {
    text-decoration: none;
  }

.description {
  color: #444;
  margin-top: 0;
}

.aboutWrapper a {
  color: grey;
}
  .aboutWrapper a:hover {
    text-decoration: underline;
  }
  .aboutWrapper ul, .aboutWrapper ul li {
    padding-left: 0;
  }
    .aboutWrapper ul li ul li {
      font-size: 0.777em;
    }
      .aboutWrapper ul li ul li:before {
        content: '- ';
      }

nav[role="navigation"] ul li {
  font-style: italic;
}

nav[role="navigation"] a {
  text-decoration: none;
}

p {
  margin-top: -5px;
  font-size: 0.777em;
}

cite, blockquote {
  color: #333;
  font-size: 0.777em;
}
  blockquote p {
    font-size: 1em;
  }

.notes {
  padding-left: 0;
  font-size: 0.777em;
}

li.pages {
  padding-bottom: 0.5em;
}
  li.pages ul {
    padding-left: 0.333em;
    margin-left: 0;
  }

li.page {
  padding-left: 0;
  margin-left: 0;
  font-style: italic;
}

cite {
  display: block;
}
  cite:before {
    content: '- ';
  }

blockquote {
  border-left: 3px solid #CCC;
  padding-left: 1em;
  margin-left: 0;
  margin-top: 0.5em;
}

.inlinePhoto {
  width: 100%;
}

.post.answer h2 {
  text-transform: capitalize;
}
  .post.answer h2:after {
    content: '...';
  }

body > footer {
  color: #333;
  font-size: 0.777em;
}

body > footer,
#pagination {
  margin-top: 2em;
}

#pagination {
  border-top: 1px dotted #ccc;
}
  #pagination a {
    font-size: 3.333em;
    font-weight: bold;
  }
    #pagination a:hover {
      text-decoration: none;
      color: red;
    }

.numPages {
  float: right;
}

.note .action {
	padding-left: 3px;
}


@media screen and (max-width: 1250px) {

  li.page:before {
    content: '- ';
  }

  .mainNavList {
    padding-left: 0;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 1em;
  }

  div[role="main"] {
    padding-top: 0.5em;
  }

}

@media screen and (min-width: 769px) {

  body {
    max-width: 696px;
    margin: 2.333em 4em 3em 4em;
  }

  .mainNavList {
    font-size: 1.375em;
  }
  .mainNavList li {
    line-height: 1.375em;
    letter-spacing: 1px;
  }

}

@media screen and (min-width: 1250px) {

  body {
    max-width: 841px;
  }

  header[role="banner"] {
    float: right;
    text-align: right;
    padding: 0;
    position: fixed;
    left: 965px;
    padding-right: 13px;
  }

  .mainNavList li a, #pagination a {
    transition: 0.513s;
  }
    .mainNavList li a:hover {
      /*background: red;*/
    }

}

@media screen and (min-width: 1565px) {

  body {
    margin: 2.333em auto;
  }

  header[role="banner"] {
    right: 7%;
    left: 79%;
  }

}

.chromeframe {
  background: red;
  border: 0.333em solid orange;
  padding: 2em;
  font-size: 2em;
}
  .chromeframe a {
    color: blue !important;
  }